<div class="container">
  <h1>All lists</h1>

  <%= link_to 'Create a new list', new_list_path %>

  <% @lists.each do |list| %>
    <p>
      <%= link_to list.name, list_path(list) %> |
      <%= list.movies.count %> movies
    </p>
  <% end %>
</div>
