.movie-card {
  display: flex;
  background-color: white;
  box-shadow: 1px 1px 5px #EEEEEE;
  max-width: 720px;
  margin: 16px 24px;
  img {
    height: 300px;
  }
  .movie-card-delete {
    position: relative;
    top: 16px;
    left: -16px;
  }
}
.movie-card-info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 300px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
  p {
    font-size: 13px;
    margin: 0;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.movie-comment {
  display: flex;
  align-items: flex-end;
  margin-top: 8px;
  i {
    color: rgb(45, 45, 45);
    padding-bottom: 16px;
  }
  p {
    margin-left: 4px;
    font-size: 20px;
  }
}

// Small devices (landscape phones, 576px and down)
@media (max-width: 576px) {
  .movie-card img {
    display: none;
  }
}
